.sidebarContainer {
  width: 154px;
  height: 880px;
  border-radius: 0px 0px 0px 32px;
  background: #fff;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputRow {
  margin-bottom: 32px;
}

.button {
    margin-top: 52px;
}