.headerContainer {
  height: 64px;
  border-radius: 32px 32px 0px 0px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.dakiLogo {
  width: 85px;
  height: 40px;
  margin-right: 109px;
}

.noLogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}