.dateInput {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #c2cad4;
  padding: 0 8px;
  color: #1759ff;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  outline: none;
}
