.showing {
  color: rgba(0, 19, 59, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.weekSelect {
  border: none;
  outline: none;
  color: #00133b;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
